
<div class="row-card-login" align="center">
<mat-card>
  <mat-card-header class="">
    <mat-card-title class="title-login"> Iniciar sesión</mat-card-title>

  </mat-card-header>

  <mat-card-content class="login-content" align="center">
    <form class="formulario-log" [formGroup]="loginForm" (ngSubmit)="onLogin()" >

      <div class="user">
        <mat-icon class="icon-user">person</mat-icon>
        <mat-form-field class="login-field">

          <input class="input-login" type="text"
            formControlName="username" matInput placeholder="Usuario" required/>


        </mat-form-field>
      </div>

      <mat-icon class="icon-lock">lock</mat-icon>
        <mat-form-field class="login-field">
          <input class="input-login" type="password"
            formControlName="password" matInput placeholder="Contraseña" required/>
        </mat-form-field>

        <button class="boton-login" type="submit" mat-raised-button> Iniciar </button>
    </form>

  </mat-card-content>


</mat-card>
</div>

