
<mat-toolbar >
  <ng-container *ngIf="token<=0; else viewAdmin">



    <span>Vuelos</span>
    <span class="example-spacer"></span>

 


  </ng-container>



</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button  (click)="onLogout()">Logout</a>
</ng-template>


<ng-template #viewAdmin >

  <!-- <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span class="example-spacer"></span>
  <!-- <a mat-button [routerLink]="'/admin'">Admin</a> -->
  <a mat-button (click)="onLogout()"><mat-icon>door</mat-icon> Salir</a>
</ng-template>

