.example-spacer {
  flex: 1 1 auto;
}






.icon-menu{
  height: 40px;

}
.nav-icon{
  color: #fff;
}

.nav-link{
  color: #fff;
}

::ng-deep.mat-toolbar{
  background:  -webkit-linear-gradient(0deg, rgba(34, 56, 105, 1) 0%, rgba(16, 124, 175, 1) 50%,rgba(34, 56, 105, 1) 100%);
}







